{% extends "product_data_form/base.html" %}

{% block content %}
  {% for market in markets %}
    <section class="my-8">
      <h1 class="text-3xl text-center font-bold mb-2">{{ market.name}} {{ market.date}}</h1>
      {% for product in market.product_set.all %}
        <form method="post" id="edit_form_{{ product.pk }}">{% csrf_token %}</form>
      {% endfor %}
      <table class="mb-8 mx-auto border border-black">
        <thead>
          <tr class="bg-gray-300">
            <th class="p-2 border border-black">番号</th>
            <th class="p-2 border border-black">ブランド名</th>
            <th class="p-2 border border-black">商品名</th>
            <th class="p-2 border border-black">型番</th>
            <th class="p-2 border border-black">製造番号</th>
            <th class="p-2 border border-black">素材・カラー</th>
            <th class="p-2 border border-black">状態</th>
            <th class="p-2 border border-black cursor-pointer" data-header="detail">↓</th>
            <th class="p-2 border border-black">値段</th>
            <th class="p-2 border border-black">落札価格</th>
          </tr>
        </thead>
        <tbody>
          {% for product in market.product_set.all %}
            <tr>
              <td class="p-2 border border-black">
                <input type="text" name="number" form="edit_form_{{ product.pk }}" value="{{ product.number }}" class="border border-black">
              </td>
              <td class="p-2 border border-black">
                <input type="text" name="brand_name" form="edit_form_{{ product.pk }}" value="{{ product.brand_name }}" class="border border-black">
              </td>
              <td class="p-2 border border-black">
                <input type="text" name="name" form="edit_form_{{ product.pk }}" value="{{ product.name }}" class="border border-black">
              </td>
              <td class="p-2 border border-black">
                <input type="text" name="model_number" form="edit_form_{{ product.pk }}" value="{{ product.model_number }}" class="border border-black">
              </td>
              <td class="p-2 border border-black">
                <input type="text" name="serial_number" form="edit_form_{{ product.pk }}" value="{{ product.serial_number }}" class="border border-black">
              </td>
              <td class="p-2 border border-black">
                <input type="text" name="material_color" form="edit_form_{{ product.pk }}" value="{{ product.material_color }}" class="border border-black">
              </td>
              <td class="p-2 border border-black">
                <input type="text" name="condition" form="edit_form_{{ product.pk }}" value="{{ product.condition }}" class="border border-black">
              </td>
              <td class="p-2 border border-black" data-product="detail">
                <textarea name="detail" cols="35" rows="5" class="border border-black" form="edit_form_{{ product.pk }}">{{ product.detail }}</textarea>
              </td>
              <td class="p-2 border border-black">
                <input type="text" name="price" form="edit_form_{{ product.pk }}" value="{{ product.price }}" class="border border-black">
              </td>
              <td class="p-2 border border-black">
                <input type="text" name="winning_bid" form="edit_form_{{ product.pk }}" value="{{ product.winning_bid }}" class="border border-black">
              </td>
              <td class="p-2 border border-black">
                <input type="hidden" name="primary_key" form="edit_form_{{ product.pk }}" value="{{product.pk}}">
                <input type="submit" form="edit_form_{{ product.pk }}" value="保存" class="border border-black">
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  {% endfor %}

  <script>
    const sections = document.querySelectorAll(".my-8");
    for (const section of sections) {
      const detailHeader = section.querySelector("[data-header]");
      const detailData = section.querySelectorAll("[data-product]");
      const detailDataTextContents = [];

      for (const detailDatum of detailData) {
        detailDataTextContents.push(detailDatum.textContent);
        const textArea = detailDatum.querySelector("textarea");
        textArea.style.display = "none";
      }

      detailHeader.addEventListener("click", () => {
        if (detailHeader.textContent === "↓") {
          detailHeader.textContent = "詳細・備考";
          detailData.forEach((detailDatum, index) => {
            const textArea = detailDatum.querySelector("textarea");
            textArea.style.display = "";
          });
        } else {
          detailHeader.textContent = "↓";
          detailData.forEach(detailDatum => {
            const textArea = detailDatum.querySelector("textarea");
            textArea.style.display = "none";
          });
        }
      });
    }
  </script>
{% endblock %}
