{% extends "product_data_form/base.html" %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <fieldset>
      日付: {{ form.date.errors }} {{ form.date }}<br>
      市場名: {{ form.market_name.errors }} {{ form.market_name }}<br>
      番号: {{ form.number.errors }} {{ form.number }}<br>
      ブランド名: {{ form.brand_name.errors }} {{ form.brand_name }}<br>
      商品名: {{ form.name.errors }} {{ form.name }}<br>
      型番: {{ form.model_number.errors }} {{ form.model_number }}<br>
      製造番号: {{ form.serial_number.errors }} {{ form.serial_number }}<br>
      素材・カラー: {{ form.material_color.errors }} {{ form.material_color }}<br>
      状態: {{ form.condition.errors }} {{ form.condition }}<br>
      詳細・備考: {{ form.detail.errors }} {{ form.detail }}<br>
      {{ form.non_field_errors }}
      <input type="submit" value="保存" class="border border-black">
    </fieldset>
    </form>
{% endblock %}
