{% extends "product_data_form/base.html" %}

{% block content %}
  <div class="flex">
    <section class="border border-black">
      <h1 class="text-3xl text-blue-500">市場</h1>
      <form method="post">
        {% csrf_token %}
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <fieldset>
          日付: {{ market_form.date.errors }} {{ market_form.date }}<br>
          市場名: {{ market_form.name.errors }} {{ market_form.name }}<br>
          <input type="submit" name="save_market" value="市場を保存" class="border border-black">
        </fieldset>
      </form>
    </section>

    <section class="border border-black">
      <h1 class="text-3xl text-green-500">商品</h1>
      <form method="post">
        {% csrf_token %}
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <fieldset>
          番号: {{ product_form.number.errors }} {{ product_form.number }}<br>
          ブランド名: {{ product_form.brand_name.errors }} {{ product_form.brand_name }}<br>
          商品名: {{ product_form.name.errors }} {{ product_form.name }}<br>
          型番: {{ product_form.model_number.errors }} {{ product_form.model_number }}<br>
          製造番号: {{ product_form.serial_number.errors }} {{ product_form.serial_number }}<br>
          素材・カラー: {{ product_form.material_color.errors }} {{ product_form.material_color }}<br>
          状態: {{ product_form.condition.errors }} {{ product_form.condition }}<br>
          詳細・備考: {{ product_form.detail.errors }} {{ product_form.detail }}<br>
          {{ product_form.non_field_errors }}
          <input type="submit" name="save_product" value="商品を保存" class="border border-black">
        </fieldset>
      </form>
    </section>
  </div>

  <section>
    {% for market in markets %}
      <h1>{{ market.name }} {{ market.date }}</h1>
      <table class="mx-auto border border-black">
        <thead>
          <tr class="bg-gray-300">
            <th class="p-2 border border-black">番号</th>
            <th class="p-2 border border-black">ブランド名</th>
            <th class="p-2 border border-black">商品名</th>
            <th class="p-2 border border-black">型番</th>
            <th class="p-2 border border-black">製造番号</th>
            <th class="p-2 border border-black">素材・カラー</th>
            <th class="p-2 border border-black">状態</th>
            <th class="p-2 border border-black">詳細・備考</th>
            <th class="p-2 border border-black">値段</th>
            <th class="p-2 border border-black">落札価格</th>
          </tr>
        </thead>
        <tbody>
          {% for product in market.product_set.all %}
            <tr>
              <td class="p-2 border border-black">{{ product.number}}</td>
              <td class="p-2 border border-black">{{ product.brand_name}}</td>
              <td class="p-2 border border-black">{{ product.name}}</td>
              <td class="p-2 border border-black">{{ product.model_number}}</td>
              <td class="p-2 border border-black">{{ product.serial_number}}</td>
              <td class="p-2 border border-black">{{ product.material_color}}</td>
              <td class="p-2 border border-black">{{ product.condition}}</td>
              <td class="p-2 border border-black">{{ product.detail}}</td>
              <td class="p-2 border border-black">{{ product.price}}</td>
              <td class="p-2 border border-black">{{ product.winning_bid}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endfor %}
  </section>
  <section>
    <h1>市場が登録されていない商品</h1>
    <table class="mx-auto border border-black">
      <thead>
        <tr class="bg-gray-300">
          <th class="p-2 border border-black">番号</th>
          <th class="p-2 border border-black">ブランド名</th>
          <th class="p-2 border border-black">商品名</th>
          <th class="p-2 border border-black">型番</th>
          <th class="p-2 border border-black">製造番号</th>
          <th class="p-2 border border-black">素材・カラー</th>
          <th class="p-2 border border-black">状態</th>
          <th class="p-2 border border-black">詳細・備考</th>
          <th class="p-2 border border-black">値段</th>
          <th class="p-2 border border-black">落札価格</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products_without_market %}
          <tr>
            <td class="p-2 border border-black">{{ product.number}}</td>
            <td class="p-2 border border-black">{{ product.brand_name}}</td>
            <td class="p-2 border border-black">{{ product.name}}</td>
            <td class="p-2 border border-black">{{ product.model_number}}</td>
            <td class="p-2 border border-black">{{ product.serial_number}}</td>
            <td class="p-2 border border-black">{{ product.material_color}}</td>
            <td class="p-2 border border-black">{{ product.condition}}</td>
            <td class="p-2 border border-black">{{ product.detail}}</td>
            <td class="p-2 border border-black">{{ product.price}}</td>
            <td class="p-2 border border-black">{{ product.winning_bid}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock %}
