{% extends "product_data_form/base.html" %}

{% block content %}
  <section class="flex flex-col items-center my-8">
    <form method="post" class="w-1/6">
      {% csrf_token %}
      {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
      <fieldset class="flex flex-col border">
        <div class="p-1">
          <label>
            <span class="font-bold mr-4">日付</span>
            {{ market_form.date.errors }} {{ market_form.date }}
          </label>
        </div>
        <div class="p-1">
          <label>
            <span class="font-bold">市場名</span>
            {{ market_form.name.errors }} {{ market_form.name }}
          </label>
        </div>
        <input type="submit" name="save_market" value="市場を保存" class="cursor-pointer text-white bg-green-600 rounded p-1 mt-1 mx-auto">
      </fieldset>
    </form>

    <div class="flex flex-col items-center mt-8 w-1/6">
      {% for market in markets %}
        <a target="_blank" href="{% url 'product_data_form:product_main' market_name=market.name market_date=market.date %}" class="mb-1 underline text-blue-500 text-center text-[17px]">{{ market.name }} {{ market.date }}</a>
      {% endfor %}
    </div>
    <p class="text-center font-bold cursor-pointer" id="see_more">
      もっと見る
      <span class="text-blue-500">+</span>
    </p>
    <div class="flex flex-col items-center mt-1 w-1/6 hidden" id="old_link_list">
      {% for market in markets %}
        <a target="_blank" href="{% url 'product_data_form:product_main' market_name=market.name market_date=market.date %}" class="mb-1 underline text-blue-500 text-center text-[17px]">{{ market.name }} {{ market.date }}</a>
      {% endfor %}
    </div>
  </section>

  <script>
    const seeMoreText = document.getElementById("see_more");
    const seeMoreIcon = document.querySelector("#see_more > .text-blue-500");
    const oldLinkList = document.getElementById("old_link_list")
    seeMoreText.addEventListener("click", () => {
      const isHidden = oldLinkList.classList.toggle("hidden");
      seeMoreIcon.textContent = isHidden ? "+" : "−";
    });
  </script>
{% endblock %}
