{% extends "product_data_form/base.html" %}

{% load widget_tweaks %}

{% block content %}
  <section>
    <h1 class="text-3xl text-center font-bold my-2">
      {{ market.name}} {{ market.date}}
    </h1>
    <form method="post" id="product_form" enctype="multipart/form-data">
      {% csrf_token %}
      {{ edit_formset.management_form }}
      <h2 class="text-3xl text-center font-bold mb-2">
        商品を編集
      </h2>
      <input type="submit" name="save" value="保存" class="cursor-pointer text-white text-lg bg-blue-600 rounded w-1/12 p-1 absolute left-16 top-[60px]">
      <input type="submit" name="generate_invoice" value="請求書を作成" class="cursor-pointer text-white text-lg bg-blue-600 rounded w-1/12 p-1 absolute right-16 top-[60px]">
      <table class="table-fixed w-full mb-8 mx-auto border border-black">
        <thead>
          <tr class="bg-gray-300">
            <th class="border border-black">画像</th>
            <th class="border border-black">番号</th>
            <th class="border border-black">ブランド名</th>
            <th class="border border-black">商品名</th>
            <th class="border border-black">型番</th>
            <th class="border border-black">製造番号</th>
            <th class="border border-black">素材・カラー</th>
            <th class="border border-black">状態</th>
            <th class="border border-black">詳細・備考</th>
            <th class="border border-black">値段</th>
            <th class="border border-black">落札</th>
            <th class="border border-black">検品</th>
            <th class="border border-black">削除</th>
          </tr>
        </thead>
        <tbody>
          {% for form in edit_formset %}
            <tr>
              {{ form.id }}
              <td class="p-1 border border-black overflow-hidden">
                {% if form.instance.image %}
                  <img src="{{ form.instance.image.url }}" alt="商品画像" class="w-14 h-14">
                {% endif %}
                {{ form.image.errors }} {{ form.image }}
              </td>
              <td class="p-1 border border-black overflow-hidden">
                {{ form.number.errors }} {{ form.number }}
              </td>
              <td class="p-1 border border-black overflow-hidden">
                {{ form.brand_name.errors }} {{ form.brand_name }}
              </td>
              <td class="p-1 border border-black overflow-hidden">
                {{ form.name.errors }} {{ form.name }}
              </td>
              <td class="p-1 border border-black overflow-hidden">
                {{ form.model_number.errors }} {{ form.model_number }}
              </td>
              <td class="p-1 border border-black overflow-hidden">
                {{ form.serial_number.errors }} {{ form.serial_number }}
              </td>
              <td class="p-1 border border-black overflow-hidden">
                {{ form.material_color.errors }} {{ form.material_color }}
              </td>
              <td class="p-1 border border-black overflow-hidden">
                {{ form.condition.errors }} {{ form.condition }}
              </td>
              <td class="p-1 border border-black overflow-hidden">
                {{ form.detail.errors }} {{ form.detail }}
              </td>
              <td class="p-1 border border-black overflow-hidden">
                {{ form.price.errors }} {{ form.price }}
              </td>
              <td class="p-1 border border-black overflow-hidden text-center">
                <label>済{{ form.is_bidden.errors }} {{ form.is_bidden }}</label>
              </td>
              <td class="p-1 border border-black overflow-hidden text-center">
                <label>済{{ form.is_inspected.errors }} {{ form.is_inspected }}</label>
              </td>
              <td class="p-1 border border-black overflow-hidden text-center">
                {{ form.DELETE|add_class:"hidden" }}
                <button type="button" class="text-white bg-red-600 p-1 rounded">削除する</button>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </form>
  </section>

  <script>
    const productForm = document.getElementById("product_form");
    productForm.addEventListener("keydown", e => {
      if (e.key === "Enter" && e.target.tagName !== "TEXTAREA") {
        e.preventDefault();
      }
    });

    document.addEventListener("keydown", e => {
      if ((e.ctrlKey || e.metaKey) && e.key === "s") {
        e.preventDefault();
        productForm.submit();
      }
    });

    const deleteButtons = document.querySelectorAll('[type="button"]');
    for (const deleteButton of deleteButtons) {
      deleteButton.addEventListener("click", () => {
        const deleteCheckbox = deleteButton.closest(".text-center").querySelector('[name$="DELETE"]');

        Swal.fire({
          text: "本当にこの商品を削除しますか？",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "rgb(220, 38, 38)",
          cancelButtonColor: "rgb(37, 99, 235)",
          confirmButtonText: "削除",
          cancelButtonText: "キャンセル"
        }).then(result => {
          if (result.isConfirmed) {
            deleteCheckbox.checked = true;
            productForm.submit();
          }
        });
      });
    }

    const priceInputs = document.querySelectorAll('input[name$="price"], input[name$="winning_bid"]');
    for (const priceInput of priceInputs) {
      priceInput.addEventListener('blur', e => {
        const value = e.target.value;
        if (value) {
          const formattedValue = Number(value.replace(/,/g, '')).toLocaleString();
          e.target.value = formattedValue;
        }
      });
    }
  </script>
{% endblock %}
