{% extends "product_data_form/base.html" %}

{% load widget_tweaks %}
{% load static %}
{% load add_title %}

{% block content %}
  <section>
    <h1 class="text-3xl text-center font-bold my-2">
      {% if "ギャラリーレア" in market.name %}
        <form method="post" class="mr-4 inline-block">
          {% csrf_token %}
          <input type="hidden" name="fetch_market_data" value="true">
          <input type="submit" value="相場データ取得" class="align-top text-xs px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 cursor-pointer">
        </form>
      {% endif %}
      {{ market.name }} {{ market.date }}
      <a target="_blank" href="{% url 'product_data_form:product_register' market_name=market.name market_date=market.date %}" class="underline text-blue-500">register</a>
    </h1>
    <form method="post" id="product_form" enctype="multipart/form-data">
      {% csrf_token %}
      {{ new_formset.management_form }}
      <h2 class="text-3xl text-center font-bold mb-2 cursor-pointer" id="save_product_header">
        商品を登録
        <span class="text-blue-500">+</span>
      </h2>
      <div class="grid grid-cols-10 gap-2 mb-8 hidden" id="save_product_container">
        {% for form in new_formset %}
          {{ form.id }}
          <div class="text-center">
            {{ form.number.errors }} {{ form.number }}
          </div>
        {% endfor %}
      </div>

      {{ edit_formset.management_form }}
      <h2 class="text-3xl text-center font-bold mb-2" id="edit_product_header">
        商品を編集
      </h2>
      <table class="table-fixed w-full mb-8 mx-auto border border-black" id="edit_product_container">
        <thead class="sticky top-0">
          <tr class="bg-gray-300">
            <th class="border border-black w-20">画像</th>
            <th class="border border-black w-16">番号</th>
            <th class="border border-black w-32">ブランド名</th>
            <th class="border border-black w-32">商品名</th>
            <th class="border border-black w-32">素材・カラー</th>
            <th class="border border-black w-32">製造番号</th>
            <th class="border border-black w-32">型番</th>
            <th class="border border-black w-16">状態</th>
            <th class="border border-black w-52">詳細・備考</th>
            <th class="border border-black w-20">値段</th>
            <th class="border border-black w-20">落札価格</th>
            <th class="border border-black w-12">落札</th>
            <th class="border border-black w-12">検品</th>
            <th class="border border-black w-16">削除</th>
          </tr>
        </thead>
        <tbody>
          {% for form in edit_formset %}
            <tr {% if forloop.counter|divisibleby:2 %} class="bg-slate-100" {% endif %}>
              {{ form.id }}
              <td class="p-1 border border-black overflow-hidden">
                {% if form.instance.image %}
                  <img src="{{ form.instance.image.url }}" alt="商品画像" class="w-14 h-14">
                {% endif %}
                {{ form.image.errors }} {{ form.image }}
              </td>
              <td class="p-1 border border-black overflow-hidden">
                {{ form.number.errors }} {{ form.number }}
              </td>
              <td class="p-1 border border-black overflow-hidden">
                {{ form.brand_name.errors }} {{ form.brand_name }}
              </td>
              <td class="p-1 border border-black overflow-hidden">
                {{ form.name.errors }} {{ form.name|add_value_as_title }}
              </td>
              <td class="p-1 border border-black overflow-hidden">
                {{ form.material_color.errors }} {{ form.material_color|add_value_as_title }}
              </td>
              <td class="p-1 border border-black overflow-hidden">
                {{ form.serial_number.errors }} {{ form.serial_number }}
              </td>
              <td class="p-1 border border-black overflow-hidden">
                {{ form.model_number.errors }} {{ form.model_number }}
              </td>
              <td class="p-1 border border-black overflow-hidden">
                {{ form.condition.errors }} {{ form.condition }}
              </td>
              <td class="p-1 border border-black overflow-hidden">
                {{ form.detail.errors }} {{ form.detail|add_class:"w-full" }}
              </td>
              <td class="p-1 border border-black overflow-hidden">
                {{ form.price.errors }} {{ form.price }}
              </td>
              <td class="p-1 border border-black overflow-hidden">
                {{ form.winning_bid.errors }} {{ form.winning_bid }}
              </td>
              <td class="p-1 border border-black overflow-hidden text-center">
                <label>済{{ form.is_bidden.errors }} {{ form.is_bidden }}</label>
              </td>
              <td class="p-1 border border-black overflow-hidden text-center">
                <label>済{{ form.is_inspected.errors }} {{ form.is_inspected }}</label>
              </td>
              <td class="p-1 border border-black overflow-hidden text-center">
                {{ form.DELETE|add_class:"hidden" }}
                <button type="button" class="text-white bg-red-600 p-1 rounded">削除する</button>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </form>
  </section>

  <script src="{% static 'js/product_data_form.js' %}"></script>
{% endblock %}
