{% extends "product_data_form/base.html" %}

{% block content %}
  <form method="get">
    <fieldset class="w-8/12 my-10 mx-auto">
      <input type="search" placeholder="商品検索" name="search-query" class="p-3 border border-black text-xl w-8/12">
      <input type="submit" value="検索" class="p-3 border border-black text-xl w-3/12 text-blue-500">
    </fieldset>
  </form>

  {% if products %}
    <table class="mx-auto border border-black">
      <thead>
        <tr class="bg-gray-300">
          <th class="p-2 border border-black">市場名</th>
          <th class="p-2 border border-black">日付</th>
          <th class="p-2 border border-black">番号</th>
          <th class="p-2 border border-black">ブランド名</th>
          <th class="p-2 border border-black">商品名</th>
          <th class="p-2 border border-black">型番</th>
          <th class="p-2 border border-black">製造番号</th>
          <th class="p-2 border border-black">素材・カラー</th>
          <th class="p-2 border border-black">状態</th>
          <th class="p-2 border border-black cursor-pointer" id="detail_header">↓</th>
          <th class="p-2 border border-black">値段</th>
          <th class="p-2 border border-black">落札価格</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
          <tr>
            <td class="p-2 border border-black">{{ product.market.name }}</td>
            <td class="p-2 border border-black">{{ product.market.date }}</td>
            <td class="p-2 border border-black">{{ product.number}}</td>
            <td class="p-2 border border-black">{{ product.brand_name}}</td>
            <td class="p-2 border border-black">{{ product.name}}</td>
            <td class="p-2 border border-black">{{ product.model_number}}</td>
            <td class="p-2 border border-black">{{ product.serial_number}}</td>
            <td class="p-2 border border-black">{{ product.material_color}}</td>
            <td class="p-2 border border-black">{{ product.condition}}</td>
            <td class="p-2 border border-black whitespace-pre-wrap" data-product="detail">{{ product.detail}}</td>
            <td class="p-2 border border-black">{{ product.price}}</td>
            <td class="p-2 border border-black">{{ product.winning_bid}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  <script>
    const detailHeader = document.getElementById("detail_header");
    const detailData = document.querySelectorAll("[data-product]");
    const detailDataTextContents = [];

    for (const detailDatum of detailData) {
      detailDataTextContents.push(detailDatum.textContent);
      detailDatum.textContent = "";
    }

    detailHeader.addEventListener("click", () => {
      if (detailHeader.textContent === "↓") {
        detailHeader.textContent = "詳細・備考";
        detailData.forEach((detailDatum, index) => {
          detailDatum.textContent = detailDataTextContents[index];
        });
      } else {
        detailHeader.textContent = "↓";
        detailData.forEach(detailDatum => {
          detailDatum.textContent = "";
        });
      }
    });
  </script>
{% endblock %}
